#root {
  /* display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: minmax(150px, auto); */

  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  text-align: center;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

nav ul li {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: auto;
  padding: 10px 30px;
}

main {
  background-color: #495E57;
  padding: 2em;
  place-content: center;
  place-items: center;
}

main .container {
  display: grid;
  grid-template-columns: 1fr fit-content(40%);
  max-width: 960px;
  gap: 2em;
}

.main-text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.main-text button {
  margin-top: auto;
}

footer {
  background-color: #495E57;
  text-align: center;
  padding: 2em;
  place-items: center;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 200px);  
}

.footer-column-links {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  height: 40px;
  padding: 1em;
}

.restaurant-food {
  width: 375px;
  height: 424px;
  object-fit: cover;
  border-radius: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}